<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ConnectionString" value ="Data Source=10.7.0.5;Initial Catalog=finiuk;User ID=test;Password=123456qwerty"/>
  </appSettings>
</configuration>